.container{
  margin-top: 5rem;
}
img {
  height: 20rem;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  
}
.about-me{
  background-color: #5a4c68;
  text-align: center;
  align-items: center;
}